@model EmployeeSalaries.Models.EmployeeDisplayModel

@{
    ViewBag.Title = "Employee Salaries";
}

<h2>Employee Salaries</h2>

@using (Html.BeginForm("Index", "EmployeeSalaries", FormMethod.Post))
{
    <span id="dateSpan">Enter Date: </span>
    <input id="inputDate" value=@Model.queryDate type="date" name="selectedDate" oninput="this.form.submit()" />
}

<p>
    <div>Employee Count: @Model.employeeCount</div>
    <div>Salary Average: @Model.averageSalary</div>
    <div>Salary Total: @Model.totalSalary</div>
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Salary
        </th>
        <th>
            Salary Date
        </th>
    </tr>

    @foreach (var employee in Model.EmployeeData)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Salary)
            </td>
            <td>
                @employee.Date.ToString("MM/dd/yyyy")
            </td>
        </tr>
    }

</table>
